{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	
{% endblock %}
	
{% block body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Récompenses &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	
	<div class="bloc-rewards">
		{% for r in rewards %}
			
			<div class="bloc-reward">
			{{ ('rewards.r'~loop.index~'.title')|trans}} <img src="{{ asset('bundles/lotofootv2/img/rewards/r'~loop.index~'.png') }}"/><br/>
			<div class="lign-blue"></div>
			<div class="txt-reward">{{ r.username }}</div>
			</div>
		
		{% endfor %}
	</div>
	<div class="stop-float"></div>

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
