{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
		<div class="title-body">
			<div class="ligne-body-left">&nbsp;</div>
			Classement Coupe du monde	&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>
			<div class="ligne-body-right">&nbsp;</div>
		</div>
{% endblock %}

{% block body %}
	
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}