{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Règlement Coupe du Monde 2014&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>	
{% endblock %}
	

{% block body %}
	<h2>1. Coupe du Monde 2014</h2>
	Venez parier sur tous les matchs de la Coupe du Monde 2014 ! 
	<ul>
		<li>Tous les joueurs inscrits sur le site peuvent participer.</li>
		<li>Les paris concernant la Coupe du Monde sont ouverts à tous pendant toute la durée de la coupe du Monde. </li>
		<li>Afin de proposer un challenge intéressant, une contribution de 10 euros par participant est demandé pour pouvoir concourir à la Cagnoute Coupe du Monde.</li>
		<li>Si vous avez payé vos 10€ vous verrez apparaître une nouvelle récompense, symbolisée par un petit cadeau.</li>
		<li>Le paiement des 10€ n'est pas obligatoire, on peut choisir de jouer gratuitement (sans verser les 10€), dans ce cas, vous ne pourrez pas postuler aux lots mis en jeu.</li>
		<li>Aucune commission n'est prélevée sur le "pot" accumulé : 100% est reversé aux gagnants (voir section Cadeaux).</li>
		<li>La Coupe du Monde débute le 12 juin 2014.</li>
		<li>Le vainqueur est celui qui a obtenu le plus de points à la fin de la Coupe du Monde.</li>
	</ul>
	<h2>2. Les paris</h2>
	<ul>
		<li>Nouveauté : vous pourrez voter sur tous les matchs de la Coupe du Monde et ce, presque en temps réel : en effet, une heure limite sera désormais propre à chaque match et vous permettra donc de modifier vos paris à la dernière minute et/ou de ne pas être coincé si vous avez raté une éventuelle date limite.</li>
		<li>Aucun recours ne sera accepté. </li>
		<li>Vous pouvez changer vos paris autant de fois que vous le souhaitez tant que la date limite associée au match n'est pas révolue.</li>
		<li><strong>Pendant la phase de poules :</strong> Les scores et résultats entérinés sont les scores et resultats après 90 minutes (+ temps additionnel) hors prolongations .</li>
		<li><strong>Après la phase de poules :</strong> Les résultats entérinés sont les résultats définitifs (après 90 minutes s'il n'y a pas de prologations, après 120 minutes s'il y a des prolongations, ou après les tirs au but s'il y a la séance des tirs au but), il ne peut donc pas y avoir de match nul à partir des 8èmes de finale. Les scores entérinés sont les scores après 90 minutes ou après 120 minutes le cas échéant.</li>
	</ul>
	<h2>3. Les points</h2>
	<ul>
		<li>Si vous trouvez le vainqueur d'un match (ou s'il y a match nul), cela vous rapporte 1 point, c'est ce qu'on appelle communément le résultat (1N2).</li>
		<li>Si vous trouvez le score exact d'un match , cela vous rapporte 2 points, c'est ce qu'on appelle communément le score (3-0 par exemple).</li>
		<li>Vous pouvez multiplier vos chances en dissociant vos paris : ex: en pariant sur le Honduras et en pariant sur le score 1-1.</li>
		<li>Si vous pariez sur le résultat "Iran vainqueur" avec un score de 1-0 et que le score est bien de 1-0, cela vous rapporte donc 3 points (1+2).</li>
	</ul>
	<h3>Les différents tours et leurs coefficients</h3>
	Des coefficients seront associés à chaque phase de la coupe du monde. Vos points seront donc multipliés par le coefficient de chaque phase.
	<ul>
		<li><strong>Pour les matchs de poules : le coefficient est égal à 1</strong>, soit 24 matchs pour un total de 72 points</li>
		<li><strong>Pour les 1/8e de Finale : le coefficient est égal à 2</strong> (tous vos points acquis pour des matchs comptant pour les 1/8e seront multipliés par 2), soit 8 matchs pour un total de 48 points</li>
		<li><strong>Pour les 1/4 de Finale : le coefficient est égal à 3</strong> (tous vos points acquis pour des matchs comptant pour les 1/4 seront multipliés par 3), soit 4 matchs pour un total de 36 points</li>
		<li><strong>Pour les 1/2 Finale : le coefficient est égal à 4</strong>(tous vos points acquis pour des matchs comptant pour les 1/2 seront multipliés par 4), soit 2 matchs pour un total de 24 points</li>
		<li><strong>Pour la finale : le coefficient est égal à 6</strong>(vos points acquis sur la finale seront multipliés par 6), soit 18 points en jeu</li>
	</ul>
	<h2>4. Le vainqueur</h2>
	Pour éviter toute ambiguïté, il ne pourra pas y avoir d'égalité et donc aucune réclamation. Les joueurs seront départagés de la façon suivante : 
	<ul>
		<li>1. Le nombre de points.</li>
		<li>2. Le nombre de scores trouvés.</li>
		<li>3. Le nombre de résultats trouvés.</li>
		<li>4. L'ordre d'inscription au site du loto.</li>
	</ul>
	<h2>5. Les cadeaux Coupe du monde</h2>
	<ul>
		<li>Le <strong>1er du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>35% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>2ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>20% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>3ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>12% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>4ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>8% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>5ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>7% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>6ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>6% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>7ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>5% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>8ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>4% de la Cagnoute Coupe du Monde</strong>.</li>
		<li>Le <strong>9ème du classement Coupe du Monde</strong> gagne des chèques cadeaux d'une valeur de <strong>3% de la Cagnoute Coupe du Monde</strong>.</li>
	</ul>
	Bien sûr les gains sont redistribués aux vainqueurs suivants si certains vainqueurs n'ont pas participé à la Cagnoute.
	NB : % non factuels, ils seront réactualisés afin d'arrondir les sommes en fonction du pactole total.

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
