<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>Lotofoot !</title>
        <script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/jquery-1.8.1.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/bootstrap.min.js')}}"></script>
		<script type="text/javascript">
			jQuery.noConflict();
		</script>
		
		<link rel="shortcut icon" type="image/ico" href="{{ asset('bundles/lotofootv2/favicon.ico') }}"/>
	    <link rel="stylesheet" href="{{ asset('bundles/lotofootv2/css/lotofoot.css') }}" />
    </head>
    <body>	    
		<div id="content">
			<div class="login-box">
				<div class="login-top">
				</div>
				<div class="login-bottom" style="height:400px;text-align: center;" >
					<span style="font-size: 20px;">404 - Il n'y a rien ici</span><br/>
					<iframe width="460" height="315" src="//www.youtube.com/embed/bxxjAPN_bi4" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</body>
</html>