<form class="form form-horizontal" action="{{ path('_admin_cl_create') }}" method="post">
	
	<div class="control-group">
		<label class="control-label" for="_name">
			 Nom du tournoi <span style="color:red"> * </span> 
		</label>
		<div class="controls">
			 <input type="text" id="_name" name="name" value="" maxlength="150" style="width:300px"/>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="_step_name">
			 Nom du premier tour <span style="color:red"> * </span> 
		</label>
		<div class="controls">
			 <input type="text" id="_step_name" name="step_name" value="" maxlength="150" style="width:300px"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="_step_name">
			Numéro de la journée de classement de référence <span style="color:red"> * </span>
		</label>
		<div class="controls">
			<input type="text" id="_num_day" name="num_day" value="" maxlength="3" style="width:100px"/>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			 <input type="submit" value="Créer"/>
		</div>
	</div>
</form>