{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Calendrier des journées &nbsp;&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-calendar.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}

{% block body %}
	<br/><br/>
	<div class="row" style="text-align:center;">
	<table class="vote">
		<tr>
			<th>N°</th>
			<th>Journée</th>
			<th>Date</th>
			<th>Etat</th>
		</tr>
		{% for day in days %}
			<tr class="calendar{% if day.type == 'cl' %}-cl{% elseif day.type == 'vote-cup' %}-vote-cup{% endif %}">
				<td>{{day.number}}</td>
				<td>{% if day.type == 'vote-cup' %}Match de {% else %}Journée de {% endif %}
					{% if day.type == 'l' %}championnat{% elseif day.type == 'cl' %}Ligue des Champions{% else %}Coupe du Monde{% endif %} 
					N°{{day.number}}</td>
				<td>Avant le {{ day.before|date("d/m/Y H:i") }}</td>
				
				{% if day.before <  date() %}
				<td class="calendar-termine">Terminé</td>
				{% elseif day.opened == true %}
				<td class="calendar-encours">En cours</td>
				{% else %}
				<td class="calendar-avenir">A venir</td>
				{% endif %}
			</tr>
		{% endfor %}
		
	</table>
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
