{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Règlement du Championnat 2013 - 2014 
		<div class="ligne-body-right">&nbsp;</div>
	</div>	
{% endblock %}
	
{% block body %}
	<h2>1. La saison de championnat 2013-2014</h2>
	<ul>
		<li>Le LotoFoot est ouvert à tous à n'importe quel moment de l'année. </li>
		<li>Le LotoFoot est gratuit.</li>
		<li>Aucune somme n'est engagée : vous pouvez parier autant que vous le souhaitez sans risquer la banqueroute.</li>
		<li>Le Championnat 2013 - 2014 débute le 05 octobre 2013 en même temps que la 9ème journée du championnat de France et un fameux PSG - OM. Le Championnat durera jusqu'à la 38ème journée.</li>
		<li>Le vainqueur est celui qui a obtenu le plus de points à la fin de la 38ème journée.</li>
	</ul>
	<h2>2. Champion's League 2013-2014</h2>
	<ul>
		<li>La Champion's League débutera en même temps que les 8ème de finale de la Champion's League; soit le 18/02/2014. </li>
		<li>Seuls les 16 premiers du général au 31/12/2013 seront qualifiés pour l'épreuve reine.</li>
		<li>En 8ème on aura donc le 1er vs 16ème, 2ème vs 15ème etc... (classements au 31/12/2013)</li>
		<li>Ensuite ce sont des duels aller/retour jusqu'en finale.</li>
		<li>Vous trouverez plus de détails dans l'onglet règlement du menu Champion's League.</li>
	</ul>
	<h2>3. Les onglets</h2>
	<ul>
		<li>L'onglet <strong>Championnat</strong> vous permet de parier sur le championnat et de suivre votre classement au général.</li>
		<li>L'onglet <strong>Champion's League</strong> vous permet de parier sur la Champion's League et de suivre votre parcours.</li>
		<li>L'onglet <strong>Calendrier</strong> vous permet d'avoir une vision exhaustive des journées à venir pour être sûr de ne pas en rater.</li>
		<li>L'onglet <strong>Forum</strong> est l'endroit pour vous défouler si vous êtes adeptes des petites Zlatanades... Venez vous chauffer ! </li>
		<li>L'onglet <strong>Statistiques</strong> est divisé en 3:<br/>
		- <i>Stats équipes</i> qui vous permettra d'accéder aux stats / effectifs / séries en cours de toutes les équipes susceptibles d'apparaître dans une journée Lotofoot.<br/>
		- <i>Historique</i> pour suivre votre évolution tout au long de l'année.<br/>
		- <i>Récompenses</i> : Vous trouverez ici les détails des récompenses détaillées en point 4 ainsi que les différents joueurs qui les possèdent.</li>
	</ul>
	<h2>4. Les paris</h2>
	<ul>
		<li>En général, les paris seront à effectuer avant le samedi 13h. </li>
		<li>Aucun recours ne sera accepté. </li>
		<li>Vous pouvez changer vos paris autant de fois que vous le souhaitez tant que la date limite n'est pas révolue.</li>
	</ul>
	<h2>5. Les points</h2>
	<ul>
		<li>Si vous trouvez le vainqueur d'un match (ou s'il y a match nul), cela vous rapporte 1 point.</li>
		<li>Si vous trouvez le résultat exact d'un match, cela vous rapporte 3 points.</li>
		<li>Vous pouvez multiplier vos chances en dissociant vos paris : ex: en pariant sur PSG et en pariant sur le score 1-1.</li>
		<li>Si vous pariez sur Paris avec un score de 1-0 et que c'est le résultat, cela vous rapporte donc 4 points (1+3).</li>
	</ul>
	<h3>Matchs bonus</h3>
	<ul>
		<li>Si le match est cerné de deux <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>, c'est un match bonus. Votre score sur le match sera multiplié par 3 ! Autrement dit un résultat bon au match bonus peut rapporter 12 points !</li>
	</ul>
	
	<h3>Matchs reportés</h3>
	<ul>
		<li>Les matchs reportés seront équivalents à un match nul et un score aléatoire. Les tricheurs (ou les joueurs à 200% c'est selon) ne pourront gagner qu'un point sur ces matchs.</li>
	</ul>
	<h2>6. Les récompenses</h2>
	Vous l'avez peut-être remarqué tout au long du championnat vous pourrez collectionner des récompenses qui se visualisent en haut à droite de votre écran sous la forme de pictos. Certaines sont glorieuses voire mythiques, d'autres sont honteuses. Elles sont au nombre de 9.
	<ul>
		<li><strong>THE KING</strong> : Tout simplement le Roi. 1er du championnat.</li>
		<li><strong>THE CHOUNE</strong> : Réservé au joueur qui a trouvé le plus de scores exacts depuis le début.</li>
		<li><strong>THE BOUSE</strong> : Le latéral gauche. Bref, le dernier.</li>
		<li><strong>L'ÉCLAIR</strong> : Le plus gros marqueur sur une journée.</li>
		<li><strong>THE BOURSE MOLLE</strong> : Le plus faible marqueur su une journée.</li>
		<li><strong>THE SMOKING</strong> : Comme Ronnie, le mec choisit ses matchs. C'est le plus gros marqueur sur les bonus uniquement.</li>
		<li><strong>THE TOP 50</strong> : Vous avez dépassé la barre des 50 points.</li>
		<li><strong>THE TOP 100</strong> : Vous avez dépassé la barre des 100 points.</li>
		<li><strong>THE TOP 500</strong>: Vous avez dépassé la barre mythique des 500 points.</li>
	</ul>
	<h2>7. Les cadeaux</h2>
	<ul>
		<li>Le 1er du classement gagne des chèques cadeaux d'une valeur de 150€</li>
		<li>Le 2ème du classement général gagne </li>
		<li>Le 3ème gagne un lot exceptionnel de 10 DvD exceptionnels</li>
		<li>Le 4ème gagne un blender : pour confectionner des smoothies veloutés et onctueux à souhait</li>
		<li>Le 5ème gagne un robot pour préparer vos Croque-Monsieurs à la perfection</li>
	</ul>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
