{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Règlement du Championnat 2013 - 2014 
		<div class="ligne-body-right">&nbsp;</div>
	</div>	
{% endblock %}
	
{% block body %}
	<h2>1. La saison de championnat 2013-2014</h2>
	Le LotoFoot est ouvert à tous à n'importe quel moment de l'année. Le Championnat 2013 - 2014 débute le 05 octobre 2013 en même temps que la 9ème journée du championnat de France et un fameux PSG - OM. Le Championnat durera jusqu'à la 38ème journée.
	Le vainqueur est celui qui a obtenu le plus de points à la fin de la 38ème journée.<br/>
	
	<h2>2. Champion's League 2013-2014</h2>
	La Champion's League débutera en même temps que les 8ème de finale de la Champion's League; soit le 18/02/2014. <br/>
	Seuls les 16 premiers du général au 31/12/2013 seront qualifiés pour l'épreuve reine. <br/>
	En 8ème on aura donc le 1er vs 16ème, 2ème vs 15ème etc... (classements au 31/12/2013)<br/>
	Ensuite ce sont des duels aller/retour jusqu'en finale.
	
	<h2>3. Les onglets</h2>
	<ul>
		<li>L'onglet Championnat vous permet de parier sur le championnat et de suivre votre classement au général.</li>
		<li>L'onglet Champion's League vous permet de parier sur la Champion's League et de suivre votre parcours.</li>
		
	</ul>
	<br/>
	
	L'onglet Calendrier vous permet d'avoir une vision exhaustive des journées à venir pour être sûr de ne pas en rater.<br/>
	L'onglet Forum est l'endroit pour vous défouler si vous êtes adeptes des petites Zlatanades... Venez vous chauffer ! <br/>
	L'onglet Statistiques est divisé en 3:<br/>
	- Stats équipes qui vous permettra d'accéder aux stats / effectifs / séries en cours de toutes les équipes susceptibles d'apparaître dans une journée Lotofoot.<br/>
	- Stats championnat pour suivre votre évolution tout au long de l'année.<br/>
	- Récompenses : Vous trouverez ici les détails des récompenses détaillées en point 4 ainsi que les différents joueurs qui les possèdent.
	
	<h2>4. Les paris</h2>
	En général, les paris seront à effectuer avant le samedi 13h. Aucun recours ne sera accepté. <br/>
	Vous pouvez changer vos paris autant de fois que vous le souhaitez tant que la date limite n'est pas révolue.
	
	<h2>5. Les points</h2>
	Si vous trouvez le vainqueur d'un match (ou s'il y a match nul), cela vous rapporte 1 point.<br/>
	Si vous trouvez le résultat exact d'un match, cela vous rapporte 3 points.<br/>
	Vous pouvez multiplier vos chances en pariant sur PSG et en pariant sur le score 1-1.<br/>
	Si vous pariez sur Paris avec un score de 1-0 et que c'est le résultat, cela vous rapporte donc 4 points (1+3).
	<br/>
	<h3>Matchs bonus</h3>
	Si le match est cerné de deux <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>, c'est un match bonus. Votre score sur le match sera multiplié par 3 ! Autrement dit un résultat bon au match bonus peut rapporter 12 points !
	<br/>
	<h3>Matchs reportés</h3>
	Les matchs reportés seront équivalents à un match nul et un score aléatoire. Les tricheurs (ou les joueurs à 200% c'est selon) ne pourront gagner qu'un point sur ces matchs.
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
