/*Layout*/
/*********************************************/
#content{
		padding: 20px;
		text-align: justify;
		background-position:fixed;
		
}

.container{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 20px 0px 20px;	
}

.container-navbar{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px 0px 20px;	
	margin-top: 0;
}


body{
	background: rgb(55,46,50);
	background-image: url(../img/bg6.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour Chrome et Safari */
 	-moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
	background-position: center 0;
	font-family: "Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	background-attachment: fixed;
}

body.body-cl{
	background-image: url(../img/bg-cl.jpg);
}

.bg-transparent{
	opacity:0.85;
    filter:alpha(opacity=85); 
    background: rgb(255,255,255);
    box-shadow: 6px 0px 15px black;  
    min-height: 683px;
}

/*Login*/
/*********************************************/
.login-box{
	width: 541px;
	height: 320px;
	margin-top: 100px;
	margin-left: auto;
  	margin-right: auto;
	background: rgb(64,55,59);
	color: rgb(255,255,255);
	box-shadow: 6px 6px 20px black;	
	font-size: 14px;
}

.login-top{
	height: 161px;
	background: url(../img/login-logo.jpg) no-repeat;
	
}

.login-bottom{
	border-left: 2px solid rgb(255,255,255);
	border-bottom: 2px solid rgb(255,255,255);
	border-right: 2px solid rgb(255,255,255);
	padding-top: 10px;
	padding-left: 30px;
	background: rgb(64,55,59);
}

.control-group{
	float: left;
	padding-left: 30px;

}

.control-group2{
	float: left;
}

.login-controls{
	padding-left: 20px;
}

.lien-login{
	color: white;
	font-size: 12px;
	float: left;
	padding-right: 20px;
	text-decoration: none;
}


.lien-login:hover{
	text-decoration: underline;
	cursor: pointer;
}

input{
	background-color: white;
}

/*Menu*/
/*********************************************/

.navibar{
	height: 36px;
	width:100%;
	background: rgb(55,46,50);
	color: rgb(255,255,255);
	display:block;
}

.navibar-element{
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 7px;
	border-right: 1px solid rgb(255,255,255);
	
}

.logo-disconnect{
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 22px;
}

.logo-ballon{
	background-image: url(../img/logo-ballon.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 0;
	margin-top: 0;
	width: 85px;
	height: 90px;
	-webkit-transition: All .8s ease;
	-moz-transition: All .8s ease;
	-o-transition: All .8s ease;
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.logo-ballon:hover{
	-webkit-transform: rotate(180deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(180deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(180deg) scale(1) skew(0deg) translate(0px);
	}


.menu-content{
	width: 868px;
	height: 90px;
	filter:alpha(opacity=100); 
	display: inline-block;
	vertical-align: top;
	margin-top: -1px;
	margin-right: 0;
	margin-left: -5px;
	list-style: none;
	padding: 0;
}

.menu-navigation{
	display: inline-block;
	margin:0;
	padding:0;
}


.logo-lotofoot{
	background-image: url(../img/logo-lotofoot.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 12px 0 9px 19px;
	width: 868px;
	height: 31px;
	
}

/*Menu*/
/*********************************************/

.menu-1-accueil{
	background-repeat: no-repeat;
	float:left;
	width: 120px;
	height: 38px;
	margin: 0;
	list-style: none;
}


.menu-2-championnat{
	background-image: url(../img/menu-2-championnat.png);
	background-repeat: no-repeat;
	float:left;
	width: 133px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}


.menu-2-championnat:hover{
	background-image: url(../img/menu-2-championnat-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 133px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-3-championsleague{
	background-image: url(../img/menu-3-championsleague.png);
	background-repeat: no-repeat;
	float:left;
	width: 173px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-3-championsleague:hover{
	background-image: url(../img/menu-3-championsleague-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 173px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-4-coupedumonde{
	background-image: url(../img/menu-4-coupedumonde.png);
	background-repeat: no-repeat;
	float:left;
	width: 156px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-4-coupedumonde:hover{
	background-image: url(../img/menu-4-coupedumonde-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 156px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-5-calendar{
	background-image: url(../img/menu-5-calendrier.png);
	background-repeat: no-repeat;
	float:left;
	width: 132px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-5-calendar:hover{
	background-image: url(../img/menu-5-calendrier-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 132px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}


.menu-6-stats{
	background-image: url(../img/menu-6-stats.png);
	background-repeat: no-repeat;
	float:left;
	width: 153px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-6-stats:hover{
	background-image: url(../img/menu-6-stats-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 153px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.submenu-2-championnat{
	margin-top: 38px;
	text-align: center;
	padding: 0;
}



.submenu-3-championsleague{
	margin-top: 38px;
	margin-left: 20px;
	text-align: center;
	padding: 0;
}

.submenu-4-coupedumonde{
	margin-top: 38px;
	margin-left: 20px;
	text-align: center;
	padding: 0;
}

.submenu-6-stats{
	margin-top: 40px;
	margin-left: 700px;
	text-align: center;
	padding: 0;
}

.submenu{
	width: 134px;
	height: 24px;
	background-image: url(../img/sub-menu-bg.jpg);
	background-repeat: repeat-x;
	position: relative;
	z-index: 4;
	list-style: none;
	color: white;
	border: 1px solid rgb(55,46,50);
	display: block;
}

.submenu:hover{
	width: 134px;
	height: 24px;
	background-color: white;
	background-image: none;
	list-style: none;
	color: rgb(55,46,50);
	border: 1px solid rgb(55,46,50);
	cursor: pointer;
}

a.menu-lien{
	width: 134px;
	height: 24px;
	text-decoration:none;
	color:white;
	display: block;
	}

a.menu-lien:hover{	
	color: rgb(55,46,50);
	cursor: pointer;
}



/*home*/
/*********************************************/
.title-body{
	height: 52px;
	width: 940px;
	padding-bottom: 10px;
	margin:0;	
	color: rgb(55,46,50);
	font-size: 24px;
	text-align: center;
	float:left;
}

.prev{
	float:left;
	padding: 0 5px 0 5px;
}

.next{
	float:right;
	padding: 0 5px 0 5px;
}

.ligne-body-left{
	width: 200px;
	background: url(../img/bande_title.png) repeat-x;
	margin: 0 10px 0 10px;
	float: left;
}

.ligne-body-right{
	width: 200px;
	background: url(../img/bande_title.png) repeat-x;
	margin: 0 10px 0 10px;
	float: right;
}

.text-actu{
	width: 900px;
	padding: 40px 40px 40px 40px;	
	color: rgb(55,46,50);
	font-size: 14px;
	text-align: justify;
	display:inline-block;
}

.img-actu{
	float: left;
	clear: both;
	margin: 10px;
}

.date-limite{
	width: 980px;
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.star-bonus{
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
}

.btn-vote{
	padding: 5px;
	color: black;
	margin-left: 310px;
	margin-top: 20px;
	background: #eaeaea url("../img/btn-social-gradient.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear,left top, left bottom,from(#f3f3f3),to(#eaeaea));
	background: -webkit-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -moz-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -o-linear-gradient(top,#f3f3f3,#eaeaea);
	background: linear-gradient(top,#f3f3f3,#eaeaea);
	border-top: 1px solid #DCDCDC;
	cursor: pointer;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	text-shadow: 0px 1px 0px rgba(255,255,255,1),0px 1px 0px rgba(255,255,255,0.2);
}
.btn-vote:hover{
	border: 1px solid #e2e2e2;
	background: #FFFFFF;
	cursor: pointer;
}

.btn-admin{
	padding: 5px;
	color: black;
	margin-top: 20px;
	background: #eaeaea url("../img/btn-social-gradient.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear,left top, left bottom,from(#f3f3f3),to(#eaeaea));
	background: -webkit-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -moz-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -o-linear-gradient(top,#f3f3f3,#eaeaea);
	background: linear-gradient(top,#f3f3f3,#eaeaea);
	border-top: 1px solid #DCDCDC;
	cursor: pointer;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	text-shadow: 0px 1px 0px rgba(255,255,255,1),0px 1px 0px rgba(255,255,255,0.2);
	font-size: 14px;
}
.btn-admin:hover{
	border: 1px solid #e2e2e2;
	background: #FFFFFF;
	cursor: pointer;
}

.control-group-admin{
	padding-left: 180px;
	float: left;
}

.btn-comment{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a39ea3;
	display:inline-block;
	color: rgb(55,46,50);
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:28px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
	
}

.btn-comment:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor:pointer;
}

.top-comment{
	height: 38px;
	width:100%;
}

.titre-comment{
	height: 38px;
	width:191px;
	padding-left:1px;
}

.champs-comment{
	width:100%;
	border:1px solid grey;
	background-color: #e1e7ed;
}

.comment1{
	background-color: #E9E9E9;
	padding: 10px;
	
}

.comment2{
	background-color: #D4D8E1;
	padding: 10px;
}

.auteur-comment{
	color: #DB2150;
	font-size:15px;
}

.date-comment{
	font-style:italic;
	font-size: 12px;
}

/* Stats */
/*********************************************/
a.letter{	
	cursor:pointer;
	color: rgb(55,46,50);
}

a.letter:hover{
	text-decoration: underline;
}

.bloc-letters{
}

.bloc-letter-a{
}

.title-letter{
	
	width: 930px;
	color: rgb(55,46,50);
	border-bottom: 1px solid rgb(55,46,50);
	font-size: 36px;
	text-align: left;
	clear: both;
}

.title-prizes{
	
	width: 930px;
	color: rgb(55,46,50);
	border-bottom: 1px solid rgb(55,46,50);
	font-size: 20px;
	text-align: left;
	padding-top : 10px;
	clear: both;
}

.title-letter:hover{
	text-decoration: underline;
}

/* Rewards */
/*********************************************/
.bloc-rewards{
	width: 940px;
	margin: 10px 30px 10px 30px;
	color: rgb(29,174,234);
	font-size: 24px;
	text-align: center;
	float: left;
}

.bloc-reward{
	background-color: rgb(55,46,50);
	width: 260px;
	min-height: 105px;
	padding: 10px;
	margin: 5px;	
	float:left;
}


.lign-blue{
	height:1px;
	width:100%;
	background-color: rgb(29,174,234);
}

.txt-reward{
	color:white;
	font-size: 14px;
	padding-top: 3px;
}
/* Tableaux */
/*********************************************/

table{
	background: white;
	border-collapse: collapse; 
	margin-left: auto;
	margin-right: auto;
	opacity:1;
	filter:alpha(opacity=100); 
	clear:both;
}

td{
    border: 1px solid rgb(55,46,50);
    padding: 0 10px 0 10px;
    text-align: center;
}

th{ 
	background: rgb(55,46,50);
	color: white;
	border: 1px solid rgb(55,46,50);
    padding: 10px 10px 10px 10px;
	text-align: center;
}

table.calendar{
	
}

table.board{
}

tr.board{
	height: 20px;
	color: rgb(55,46,50);
	background-image: url(../img/calendar-background-grey.jpg);
	background-repeat: no-repeat-x;
}

tr.calendar{
	height: 23px;
	color: rgb(55,46,50);
	background-image: url(../img/calendar-background-grey.jpg);
	background-repeat: no-repeat-x;
}

tr.calendar-cl{
	height: 23px;
	color: white;
	background-image: url(../img/calendar-background-blue.jpg);
	background-repeat: no-repeat-x;
}

tr.vote-cl{
	height: 40px;
	color: rgb(55,46,50);
	background-image: url(../img/calendar-background-blue2.jpg);
	background-repeat: no-repeat-x;
	border-spacing:0;
}

tr.vote-board{
	height: 22px;
	color: rgb(55,46,50);
	background: url(../img/cl-vote-board.jpg) repeat-x bottom;
	border-spacing:0;
}

tr.my-rank{
	background-color:#DABE67
}
tr.cl-limit{
	border-bottom:4px solid black;
}

tr.total{
	background-color:rgb(55,46,50);
	color: white;
}

td.calendar-termine{
	color:red;
	background-color:white;
}

td.calendar-encours{
	color:green;
	background-color:white;
}

td.calendar-avenir{
	color:rgb(55,46,50);
	background-color:white;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: black;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

/* Le Mot du King */
/*********************************************/
.king-punchline{
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 16px;
	width: 600px;
	margin: auto;
	opacity: 1;
	background-color: #666666;
	color: white;
}

.king-punchline-legend{
	color: #666666;
	padding: 3px;
	background-color:white;
	font-weight: bold;
	font-style: normal;
	border: 1px solid rgb(55,46,50);
	box-shadow: 6px 0px 6px black;  
}

.king-punchline-sign{
	float : right;
	font-weight: bold;
	font-style: normal;
}
/*CL*/
/*********************************************/
.tabfinal{
	margin-top:80px;
	height:700px;
}
.tour{
	float:left;
}
.link-next{
	float:left;
	width:30px;
}
.title-tour{
	cursor : pointer;
	width:200px;
	height: 25px;
	text-align:center;
	font-size:14px;
	opacity: 1;
	z-index: 99;
	margin-top:10px;
	padding-left:5px;
	padding-top: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #163657) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #163657 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#163657');
	background-color:#79bbff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-indent:0;
	border:1px solid #469df5;
	color:#ffffff;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
	margin-bottom:20px;
}

.coll-joueurs{
	float:left;
}

.coll-scores{
	float:left;
}

.link-tour2{
	width:20px;
	height:78px;
	background-image: url(../img/link-tour2.png);
	background-repeat: no-repeat;
	margin-left: 8px;
	margin-top:60px;
}

.link-tour3{
	width:20px;
	height:136px;
	background-image: url(../img/link-tour3.png);
	background-repeat: no-repeat;
	margin-left: 8px;
	margin-top:145px;
}

.link-tour4{
	width:20px;
	height:277px;
	background-image: url(../img/link-tour4.png);
	background-repeat: no-repeat;
	margin-left: 8px;
	margin-top:230px;
}

.cell-confrontation{
	clear:both;
	opacity: 1;
	z-index: 99;
	width: 110px;
	margin-top:10px;
	padding-left:5px;
	padding-top: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #163657) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #163657 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#163657');
	background-color:#79bbff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-indent:0;
	border:1px solid #469df5;
	color:#ffffff;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
}

.cell-joueur{
	clear:both;
	margin-top: 3px;
	height:25px;
	padding-left:23px;
	background-image: url(../img/logo-ballon-small.png);
	background-repeat: no-repeat;
}

.cell-score{
	margin-left:5px;
	height:56px;
	opacity: 1;
	z-index: 99;
	width: 85px;
	margin-top:10px;
	padding-top: 5px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.cell-score:hover{
	cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
}

.cell-score-manche{
	padding:0;
	margin:0;
	height:51px;
	width:25px;
	float: left;
}

.cell-score-tot{
	padding-left:-3px;
	margin-left:5px;
	height:51px;
	width:24px;
	float: left;
	border-left: 1px solid rgb(118,108,113);
	font-weight:bold;
}


.cell-score-joueur{
	margin-top: 3px;
	margin-left:10px;
	height:25px;
}

.cell-space1{
	height:40px;
	margin-bottom:20px;
	padding-bottom:10px;
}

#confrontation-step_1_1{
	display:none;
	height:565px;
	width:676px;
	margin:-6px -123px;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_2{
	display:none;
	height:565px;
	width:676px;
	margin:-79px -123px;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_3{
	display:none;
	height:565px;
	width:676px;
	margin:-152px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_4{
	display:none;
	height:565px;
	width:676px;
	margin:-225px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_5{
	display:none;
	height:565px;
	width:676px;
	margin:-298px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_6{
	display:none;
	height:565px;
	width:676px;
	margin:-371px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_7{
	display:none;
	height:565px;
	width:676px;
	margin:-444px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_1_8{
	display:none;
	height:565px;
	width:676px;
	margin:-517px -123px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
	padding:15px;
}

#confrontation-step_2_1{
	display:none;
	height:467px;
	width:680px;
	padding: 90px 15px 15px 15px;	
	margin:-66px -363px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_2_2{
	display:none;
	height:467px;
	width:680px;
	padding: 90px 15px 15px 15px;	
	margin:-199px -363px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_2_3{
	display:none;
	height:467px;
	width:680px;
	padding: 90px 15px 15px 15px;	
	margin:-332px -363px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_2_4{
	display:none;
	height:467px;
	width:680px;
	padding: 90px 15px 15px 15px;	
	margin:-465px -363px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_3_1{
	display:none;
	height:417px;
	width:680px;
	padding: 140px 15px 15px 15px;	
	margin:-136px -602px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_3_2{
	display:none;
	height:417px;
	width:680px;
	padding: 140px 15px 15px 15px;	
	margin:-409px -602px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

#confrontation-step_4_1{
	display:none;
	height:387px;
	width:680px;
	padding: 170px 15px 15px 15px;	
	margin:-276px -840px;;
	position: absolute; 
	z-index: 1;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	box-shadow:inset 0px 1px 0px 0px #c1dcf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
	background-color:#fafafa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5a96d1;
}

.cl-all-res{
    display:none;
    padding : 15px;
    position: absolute; 
    z-index: 1;
    -moz-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1dcf5;
    box-shadow:inset 0px 1px 0px 0px #c1dcf5;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #98bfe6) );
    background:-moz-linear-gradient( center top, #fafafa 5%, #98bfe6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#98bfe6');
    background-color:#fafafa;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #5a96d1;
}


.cl-result-ok{
    background : #FFDD75; 
}
.cl-score-ok{
    background : #FFD042;	
}

.cl-result-ok.cl-score-ok{
	background : #40C853;    
}

.coupe-cl1{
	width:150px;
	height:231px;
	background-image: url(../img/coupe.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 750px;
	margin-top:90px;
	
}

.coupe-cl2{
	width:150px;
	height:231px;
	background-image: url(../img/coupe.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 750px;
	margin-top:420px;
	
}

.cl-res-group-separator{
    border-left:2px solid black;	
}

/*Footer*/
/*********************************************/
.footer-block{
	height: 109px;
	background: rgb(51,42,46);
	box-shadow: 6px 0px 15px black;
	padding: 10px 0 10px 130px;
	color: white;
}

.footer-col{
	width: 200px;
	float: left;
	padding-left: 45px;
	border: none;
}

.footer-col3{
	float: left;
	padding-left: 45px;
	border: none;
}

.footer-separate{
	width: 1px;
	height: 109px;
	float: left;
	background: rgb(255,255,255);
}


.footer-lien{
	text-decoration:none;
	color: white;
	margin: 0;
	padding-left: 18px;
	text-indent: -10px;
}

.footer-ul{
	text-decoration:none;
	color: white;
	margin: 0;
	padding-left: 18px;
	text-indent: -10px;
}

.footer-lien:hover{
	text-decoration: underline;
}

.footer-title{
	font-size: 15px;
	line-height: 1.7em;
}

/****************************************************/

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.stop-float{
	clear:both;
}

/*a{	
	color: black;
	text-decoration:none;
}

a:visited{	
	color: black;
	text-decoration:none;
}*/

h1{
	color: rgb(55,46,50);
	text-decoration: underline;
}

h2{
	color: rgb(55,46,50);
	text-decoration: underline;
}

h3{
	color: rgb(55,46,50);
	text-decoration: underline;
}
