
/*********************************************/
/*                   Layout                  */
/*********************************************/

html {
    display: table;
    height: 100%;
    width: 100%;}

body{
	display: table-cell;
    vertical-align: middle;
    background: rgb(55,46,50);
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour Chrome et Safari */
 	-moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
	background-position: center 0;
	font-family: "Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	background-attachment: fixed;}

body.body-cl{
	background-image: url(../img/bg-cl.jpg);}
	
body.body-wc{
	background-image: url(../img/bg6.jpg);}

.bg-transparent{
	opacity:0.85;
    filter:alpha(opacity=85); 
    background: rgb(255,255,255);
    box-shadow: 6px 0px 15px black;  
    min-height: 683px;}
    
#content{
		padding: 20px;
		text-align: justify;
		background-position:fixed;}

/*********************************************/
/*                  Login                    */
/*********************************************/

.login-box-bottom{
	background: none repeat scroll 0 0 rgb(64, 55, 59);
	box-shadow: 6px 6px 20px black;
	color: rgb(255, 255, 255);
	border:2px solid white;
	border-top:0;}

.login-field{
	padding: 20px;}

.login-connexion{
	padding: 42px 20px 20px 20px;}

.login-btn-connexion{
	width: 100%;}

.login-link{
	padding: 35px 20px 20px 20px;}
	
.login-link a{
	color:white;}	


/*********************************************/
/*                  Navbar                   */
/*********************************************/

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: 500px !important;
}

.navbar-profile{
	height:18px;
	width:18px;}
	
.navbar-nav{
	margin:0 !important;}
	
.navbar-nav{
	border-top:none !important}
	
.navbar-element{
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 20px 5px 20px;
	border-left: 1px solid white;
	float:left;	}

.in .navbar-element{
	border-top:1px solid white;
	width:100%;
	border-left: none;
	background-color:#332e29;
	padding: 7px 20px 7px 20px;
	margin:0;
	clear: both;}

.in .navbar-element:hover{
	background-color:#7d7368 !important;}
	

.nav>li>a {
padding: 0px 0 !important;}

	
.navbar-brand{
	color:white !important;}

.in .dropdown-menu .navbar-element{
	background-color:#453d36 !important;
	padding-left: 40px;
	border-color: grey;}

.in .dropdown-menu .navbar-element:hover{
	background-color:#7d7368 !important;}

	
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus{
	background-color:#332e29 !important ;
	padding: 7px 20px 7px 20px !important;
	color:white !important;
}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color:#7d7368 !important;}
	
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	background-color:#332e29 !important ;
	color:white !important;}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color:#7d7368 !important;}
	
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border-color:white !important;}
	
.icons{
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 22px;
	padding-top: 15px;
	width:auto;}

/* @media (max-width:768px){.navbar-element{display:none}} */

/* @media (max-width: 859px) { */
/* .cache{ */
/* 	diplay:none;}} */

/* .container>.navbar-collapse{ */
/* 	margin-left:-15px !important;} */
	
.icon-home{
	margin-top:-5px;}
	
.icon-disconnect{
	padding: 13px 13px;
	margin-top:5px;
	float:right;}

.tooltip{
	position:absolute;
	z-index:1030;
	display:block;
	font-size:11px;
	line-height:1.4;
	opacity:0;
	filter:alpha(opacity=0);
	visibility:visible;}

.tooltip.in{
	opacity:.8;
	filter:alpha(opacity=80);}
	
.tooltip.top{
	padding:5px 0;
	margin-top:-3px;}

.tooltip.right{
	padding:0 5px;
	margin-left:3px;}

.tooltip.bottom{
	padding:5px 0;
	margin-top:3px}

.tooltip.left{
	padding:0 5px;
	margin-left:-3px}

.tooltip-inner{
	max-width:200px;
	padding:8px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:#000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px}

.tooltip-arrow{
	position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-color:#000;border-width:5px 5px 0}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#000;border-width:5px 5px 5px 0}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-left-color:#000;border-width:5px 0 5px 5px}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-color:#000;border-width:0 5px 5px}

/*********************************************/
/*                  Menu                     */
/*********************************************/

 .row-menu{
 	border-bottom: 2px solid rgb(55,46,50);
	margin-right: 45px !important;	
	margin-left: 15px !important;
	margin-top:5px !important;}

.menu-content{
	width: 868px;
	height: 90px;
	filter:alpha(opacity=100); 
	display: inline-block;
	vertical-align: top;
	margin-top: -1px;
	margin-right: 0;
	margin-left: -5px;
	list-style: none;
	padding: 0;
}

.logo-ballon{
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 15px;
	margin-right: 0;
	margin-top: 0;
	-webkit-transition: All .8s ease;
	-moz-transition: All .8s ease;
	-o-transition: All .8s ease;
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.logo-ballon:hover{
	-webkit-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	-moz-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	-o-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	}

.logo-lotofoot{
	background-image: url(../img/logo-lotofoot.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 12px 0 9px 19px;
	width: 175px;
	height: 31px;	
}

a {
	text-decoration: none;}
	
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;	}
	

.menu {
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
	padding-left:10px;
	padding-right:10px;
/* 	background-color: #616975; */
	background-color: rgb(64,55,59);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(64,55,59)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(64,55,59));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	border-bottom: 1px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	width: 100%;
	min-width: 38px;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 1.75em;	
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.indent-icon{	
	}

.menu ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 2.6em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.923em;
	font-weight: 400;
	color: white;
	background-color: rgb(64,55,59);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(64,55,59)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(64,55,59));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
}

.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
	background-color: #35afe3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
	background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #103c56;
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.menu > li > a:before {
	content: '';
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}

.menu > li{
	float:left;
	margin-right:1px;
}

.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: 0 -38px;
}
.item3 > a:before {
	background-position: -38px 0;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}
.item6 > a:before {
	background-position: -76px -38px;
}
.item7 > a:before {
	background-position: -114px 0;
}
.menu > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	background: #48515c;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
	background: #2173a1;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: white;
}


.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}

/*********************************************/
/*                 Home                    */
/*********************************************/

.title-body{
	height: 52px;
	padding-bottom: 10px;
	margin:0;	
	color: rgb(55,46,50);
	font-size: 22px;
	text-align: center;
}

.ligne-body{
	background: url(../img/bande_title.png) repeat-x;
	margin: 0 10px 0 10px;
}

/*********************************************/
/*              Commentaires                 */
/*********************************************/


.btn-comment{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a39ea3;
	display:inline-block;
	color: rgb(55,46,50);
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:28px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
	
}

.btn-comment:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor:pointer;
}

.top-comment{
	height: 38px;
	width:100%;
}

.titre-comment{
	height: 38px;
	width:191px;
	padding-left:1px;
}

.champs-comment{
	width:100%;
	border:1px solid grey;
	background-color: #e1e7ed;
}

.comment1{
	background-color: #E9E9E9;
	padding: 10px;
	
}

.comment2{
	background-color: #D4D8E1;
	padding: 10px;
}

.auteur-comment{
	color: #DB2150;
	font-size:15px;
}

.date-comment{
	font-style:italic;
	font-size: 12px;
}


/*********************************************/
/*                   Vote                    */
/*********************************************/

.form-punchline{
	padding:10px;
	margin:0 10%;
	border:1px solid #b3b4b4;
	background: -webkit-gradient(linear,left top, left bottom,from(#f3f3f3),to(#eaeaea));
	background: -webkit-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -moz-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -o-linear-gradient(top,#f3f3f3,#eaeaea);
	background: linear-gradient(top,#f3f3f3,#eaeaea);
	font-family: 'Georgia', 'Times New Roman', Times, serif;}

.king-punchline-legend{
	color: #666666;
	padding: 3px;
	font-size: 15px;
	width:inherit;
	background-color:white;
	font-weight: bold;
	font-style: italic;
	border: 1px solid rgb(55,46,50);
	box-shadow: 3px 0px 3px rgb(55,46,50);  
}

.king-punchline-sign{
	float : right;
	font-weight: bold;
	font-style: normal;
}


	
/*********************************************/
/*                 Footer                    */
/*********************************************/

.content-footer{
	background: rgb(51,42,46);
	box-shadow: 6px 0px 15px black;
	padding: 10px 0 10px 10px !important;
	color: white;
	margin: 0 !important;}
	
.col-footer{
	border-right:1px solid white; 
	text-align:center;}

.content-footer ul{
	list-style: initial !important;
	text-align:left;
	padding-left: 30%;}

.content-footer a{
	color:white;}

.content-footer a:hover{
	margin-left:5px;
	color:white;}

.content-footer h5{
	font-weight:bold;}
	
.copyright{
	background-color:#222;
	color:white;
	font-size:10px;
	padding: 5px 0;}

/*********************************************/
/*                 Divers                    */
/*********************************************/

.nofloat{
	clear:both;}

.margin-container{
	margin-top:55px !important;
	padding-top:10px !important;}
	
	.btn-admin{
	padding: 5px;
	color: black;
	margin-top: 20px;
	background: #eaeaea url("../img/btn-social-gradient.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear,left top, left bottom,from(#f3f3f3),to(#eaeaea));
	background: -webkit-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -moz-linear-gradient(top,#f3f3f3,#eaeaea);
	background: -o-linear-gradient(top,#f3f3f3,#eaeaea);
	background: linear-gradient(top,#f3f3f3,#eaeaea);
	border-top: 1px solid #DCDCDC;
	cursor: pointer;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	box-shadow: 0px 1px 1px rgba(000,000,000,0.6),inset 0px 2px 1px rgba(255,255,255,1);
	text-shadow: 0px 1px 0px rgba(255,255,255,1),0px 1px 0px rgba(255,255,255,0.2);
	font-size: 14px;
}
.btn-admin:hover{
	border: 1px solid #e2e2e2;
	background: #FFFFFF;
	cursor: pointer;
}

.vote{
	border-collapse: collapse; 
	margin-left: auto;
	margin-right: auto;	
	text-align: center;    
	border: 1px solid rgb(55,46,50);}

.vote td{
    padding: 0 10px 0 10px;}
    

.vote th{ 
	background: rgb(55,46,50) !important;
	color: white;
    padding: 10px !important;}

 .scoreok{
 	background-color:rgb(64,200,83) !important;
 	color:white; }

.bonus td{
	background-color:rgb(82,96,200) !important;
	color:white;}

.bonus td.scoreok{
	background-color : rgb(64,200,83) !important;	
}

 .vote.result{
 	background-color:rgb(64,200,83) !important; 
 	border: 0;}
 	
 .vote.noresult{
 	background-color:gray !important; }

 
 .notcorrected .vote.result, .notcorrected .vote.noresult, .notcorrected .scoreok{
 	background-color:inherit !important;
 	color:inherit !important; }
 
 td.invisible{
 	border-left:none;
 	border-right:none;
 	border-bottom:none;
 	border-top: 1px solid rgb(55,46,50);}
 	
 .total{
 	color:white;
 	background-color:rgb(201,18,22) !important;
 	font-weight:bold;
 	border:1px solid rgb(55,46,50); }
 	

 	

 	


	