
/*********************************************/
/*                   Layout                  */
/*********************************************/

html {
    display: table;
    height: 100%;
    width: 100%;}

body{
	display: table-cell;
    vertical-align: middle;
    background: rgb(55,46,50);
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour Chrome et Safari */
 	-moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
	background-position: center 0;
	font-family: "Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	background-attachment: fixed;}

.bg-transparent{
	opacity:0.85;
    filter:alpha(opacity=85); 
    background: rgb(255,255,255);
    box-shadow: 6px 0px 15px black;  
    min-height: 683px;}
		

/*********************************************/
/*                  Login                    */
/*********************************************/

.login-box-bottom{
	background: none repeat scroll 0 0 rgb(64, 55, 59);
	box-shadow: 6px 6px 20px black;
	color: rgb(255, 255, 255);
	border:2px solid white;
	border-top:0;}

.login-field{
	padding: 20px;}

.login-connexion{
	padding: 42px 20px 20px 20px;}

.login-btn-connexion{
	width: 100%;}

.login-link{
	padding: 35px 20px 20px 20px;}
	
.login-link a{
	color:white;}	


/*********************************************/
/*                  Navbar                   */
/*********************************************/

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: 500px !important;
}

.navbar-profile{
	height:18px;
	width:18px;}
	
.navbar-nav{
	margin:0 !important;}
	
.navbar-nav{
	border-top:none !important}
	
.navbar-element{
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 20px 5px 20px;
	border-left: 1px solid white;
	float:left;	}

.in .navbar-element{
	border-top:1px solid white;
	width:100%;
	border-left: none;
	background-color:#332e29;
	padding: 7px 20px 7px 20px;
	margin:0;
	clear: both;}

.in .navbar-element:hover{
	background-color:#7d7368 !important;}
	

.nav>li>a {
padding: 0px 0 !important;}

	
.navbar-brand{
	color:white !important;}

.in .dropdown-menu .navbar-element{
	background-color:#453d36 !important;
	padding-left: 40px;
	border-color: grey;}

.in .dropdown-menu .navbar-element:hover{
	background-color:#7d7368 !important;}

	
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus{
	background-color:#332e29 !important ;
	padding: 7px 20px 7px 20px !important;
	color:white !important;
}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color:#7d7368 !important;}
	
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	background-color:#332e29 !important ;
	color:white !important;}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color:#7d7368 !important;}
	
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border-color:white !important;}
	
.icons{
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 22px;
	padding-top: 15px;
	width:auto;}

/* @media (max-width:768px){.navbar-element{display:none}} */

/* @media (max-width: 859px) { */
/* .cache{ */
/* 	diplay:none;}} */

/* .container>.navbar-collapse{ */
/* 	margin-left:-15px !important;} */
	
.icon-home{
	margin-top:-5px;}
	
.icon-disconnect{
	padding: 13px 13px;
	margin-top:5px;
	float:right;}

.tooltip{
	position:absolute;
	z-index:1030;
	display:block;
	font-size:11px;
	line-height:1.4;
	opacity:0;
	filter:alpha(opacity=0);
	visibility:visible;}

.tooltip.in{
	opacity:.8;
	filter:alpha(opacity=80);}
	
.tooltip.top{
	padding:5px 0;
	margin-top:-3px;}

.tooltip.right{
	padding:0 5px;
	margin-left:3px;}

.tooltip.bottom{
	padding:5px 0;
	margin-top:3px}

.tooltip.left{
	padding:0 5px;
	margin-left:-3px}

.tooltip-inner{
	max-width:200px;
	padding:8px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:#000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px}

.tooltip-arrow{
	position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-color:#000;border-width:5px 5px 0}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#000;border-width:5px 5px 5px 0}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-left-color:#000;border-width:5px 0 5px 5px}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-color:#000;border-width:0 5px 5px}

/*********************************************/
/*                  Menu                     */
/*********************************************/
.menu-content{
	width: 868px;
	height: 90px;
	filter:alpha(opacity=100); 
	display: inline-block;
	vertical-align: top;
	margin-top: -1px;
	margin-right: 0;
	margin-left: -5px;
	list-style: none;
	padding: 0;
}

.menu-navigation{
	display: inline-block;
	margin:0;
	padding:0;
}

.logo-ballon{
	background-image: url(../img/logo-ballon.png);
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 0;
	margin-top: 0;
	width: 85px;
	height: 90px;
	-webkit-transition: All .8s ease;
	-moz-transition: All .8s ease;
	-o-transition: All .8s ease;
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

.logo-ballon:hover{
	-webkit-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	-moz-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	-o-transform: rotate(180deg) scale(0.5) skew(0deg) translate(0px);
	}

.logo-lotofoot{
	background-image: url(../img/logo-lotofoot.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin: 12px 0 9px 19px;
	width: 868px;
	height: 31px;	
}

.menu-1-accueil{
	background-repeat: no-repeat;
	float:left;
	width: 120px;
	height: 38px;
	margin: 0;
	list-style: none;
}


.menu-2-championnat{
	background-image: url(../img/menu-2-championnat.png);
	background-repeat: no-repeat;
	float:left;
	width: 133px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}


.menu-2-championnat:hover{
	background-image: url(../img/menu-2-championnat-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 133px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-3-championsleague{
	background-image: url(../img/menu-3-championsleague.png);
	background-repeat: no-repeat;
	float:left;
	width: 173px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-3-championsleague:hover{
	background-image: url(../img/menu-3-championsleague-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 173px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-4-coupedumonde{
	background-image: url(../img/menu-4-coupedumonde.png);
	background-repeat: no-repeat;
	float:left;
	width: 156px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-4-coupedumonde:hover{
	background-image: url(../img/menu-4-coupedumonde-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 156px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.menu-5-calendar{
	background-image: url(../img/menu-5-calendrier.png);
	background-repeat: no-repeat;
	float:left;
	width: 132px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-5-calendar:hover{
	background-image: url(../img/menu-5-calendrier-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 132px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}


.menu-6-stats{
	background-image: url(../img/menu-6-stats.png);
	background-repeat: no-repeat;
	float:left;
	width: 153px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
}

.menu-6-stats:hover{
	background-image: url(../img/menu-6-stats-hoover.png);
	background-repeat: no-repeat;
	float:left;
	width: 153px;
	height: 38px;
	margin-top: 2px;
	list-style: none;
	cursor: pointer;
}

.submenu-2-championnat{
	margin-top: 38px;
	text-align: center;
	padding: 0;
}



.submenu-3-championsleague{
	margin-top: 38px;
	margin-left: 20px;
	text-align: center;
	padding: 0;
}

.submenu-4-coupedumonde{
	margin-top: 38px;
	margin-left: 20px;
	text-align: center;
	padding: 0;
}

.submenu-6-stats{
	margin-top: 40px;
	margin-left: 700px;
	text-align: center;
	padding: 0;
}

.submenu{
	width: 134px;
	height: 24px;
	background-image: url(../img/sub-menu-bg.jpg);
	background-repeat: repeat-x;
	position: relative;
	z-index: 4;
	list-style: none;
	color: white;
	border: 1px solid rgb(55,46,50);
	display: block;
}

.submenu:hover{
	width: 134px;
	height: 24px;
	background-color: white;
	background-image: none;
	list-style: none;
	color: rgb(55,46,50);
	border: 1px solid rgb(55,46,50);
	cursor: pointer;
}

a.menu-lien{
	width: 134px;
	height: 24px;
	text-decoration:none;
	color:white;
	display: block;
	}

a.menu-lien:hover{	
	color: rgb(55,46,50);
	cursor: pointer;
}



/**************************************/

a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content2 {	
/* 	width: 220px; */

}
.menu {
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
	padding-left:10px;
	padding-right:10px;
/* 	background-color: #616975; */
	background-color: rgb(64,55,59);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(64,55,59)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(64,55,59));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
/* 	-webkit-border-bottom-right-radius:6px; */
/* 	-moz-border-radius-bottomright:6px; */
/* 	border-bottom-right-radius:6px; */
/* 	-webkit-border-bottom-left-radius:6px; */
/* 	-moz-border-radius-bottomleft:6px; */
/* 	border-bottom-left-radius:6px; */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	border-bottom: 1px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	width: 100%;
	min-width: 38px;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 1.75em;	
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.indent-icon{	
	}

.menu ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 2.6em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.923em;
	font-weight: 400;
	color: white;
	background-color: rgb(64,55,59);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(64,55,59)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(64,55,59));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
}

.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
	background-color: #35afe3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
	background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	border-bottom: 1px solid #103c56;
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.menu > li > a:before {
	content: '';
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}

.menu > li{
	float:left;
	margin-right:1px;
}

.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: 0 -38px;
}
.item3 > a:before {
	background-position: -38px 0;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}
.item6 > a:before {
	background-position: -76px -38px;
}
.item7 > a:before {
	background-position: -114px 0;
}
.menu > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	background: #48515c;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
	background: #2173a1;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: white;
}


.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}




/*********************************************/
/*                 Divers                    */
/*********************************************/

.nofloat{
	clear:both;}

.margin-container{
	margin-top:55px !important;
	padding-top:10px !important;}
	