<div class="container hidden-xs">
	<div class="row content-footer">
		<img style="width:100%;" src="{{ asset('bundles/lotofootv2/img/footer.jpg') }}"/>
	</div>
	
	
	
	<script type="text/javascript">
		$('.tooltip-on').tooltip();
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	
	  _gaq.push(['_setAccount', 'UA-20687297-1']);
	
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</div>

<div class="row copyright">
	<div class="container" style="padding-left:30px;">	
		Copyright © 2014 - LotoFoot - Julius & Topich - Tous droits réservés
	</div>
</div>