<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>

        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/jquery-1.8.1.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/bootstrap.min.js')}}"></script>
		<script type="text/javascript">
			jQuery.noConflict();
		</script>
		

	    <link rel="stylesheet" href="{{ asset('bundles/lotofootv2/css/tom.css') }}" />
    </head>
    <body>
        {% block navibar %}
		{% endblock %}
    <div class="container">
		<div class="bg-transparent">
	    	{% block menu %}
			{% endblock %}
	    
	        <div id="content">
				{% block title_body %}
				{% endblock %}
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
	
		{% block footer %}
		{% endblock %}
		
	</body>
</html>