<script type="text/javascript" src="{{asset('bundles/lotofootv2/js/menu.js')}}"></script> 

<div class="container margin-container">
	<div class="row hidden-xs">
		<div class="logo-ballon col-sm-1"></div>
		<div class="menu-content col-sm-11">
			<div class="logo-lotofoot"></div>
			<div id="content2">

				<ul class="menu">
					<li class="item1"><a href="#"></a>
						<ul>
							<li class="subitem1"><a href="#">Famille</a></li>
							<li class="subitem2"><a href="#">Ecole</a></li>
							<li class="subitem3"><a href="#">Travail</a></li>
						</ul>
					</li>
					<li class="item2 indent-icon"><a href="#" class="hidden-sm">Championnat</a>
						<ul>
							<li class="subitem1"><a href="#">Sport</a></li>
							<li class="subitem2"><a href="#">Musique</a></li>
							<li class="subitem3"><a href="#">Cuisine</a></li>
						</ul>
					</li>
					<li class="item3 indent-icon"><a href="#">Champion's League</a>
						<ul>
							<li class="subitem1"><a href="#">Nature</a></li>
							<li class="subitem2"><a href="#">Portrait</a></li>
							<li class="subitem3"><a href="#">Animaux</a></li>
						</ul>
					</li>
					<li class="item4 indent-icon"><a href="#">Coupe du Monde</a>
						<ul>
							<li class="subitem1"><a href="#">Santé</a></li>
							<li class="subitem2"><a href="#">Nutrition</a></li>
						</ul>
					</li>
					<li class="item5 indent-icon"><a href="#">Calendrier</a>
						<ul>
							<li class="subitem1"><a href="#">Santé</a></li>
							<li class="subitem2"><a href="#">Nutrition</a></li>
						</ul>
					</li>
					<li class="item6 indent-icon"><a href="#">Stats & Médailles</a>
						<ul>
							<li class="subitem1"><a href="#">Santé</a></li>
							<li class="subitem2"><a href="#">Nutrition</a></li>
						</ul>
					</li>
					<li class="item7"><a href="#">Admin</a>
						<ul>
							<li class="subitem1"><a href="#">Santé</a></li>
							<li class="subitem2"><a href="#">Nutrition</a></li>
						</ul>
					</li>
				</ul>

</div>


		</div>	
	</div>
</div>

<!--initiate accordion-->
<script type="text/javascript">
	$(function() {
	
	    var menu_ul = $('.menu > li > ul'),
	           menu_a  = $('.menu > li > a');
	    
	    menu_ul.hide();
	
	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });
	
	});
</script>	

	