{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
{% extends 'Lotofootv2Bundle::layout_login.html.twig' %}

{% block title %}
	Inscription au Lotofoot v2 !
{% endblock %}

{% block body %}
		<div class="login-box">
		<div class="login-top">
		</div>
		<div class="login-bottom" style="height:160px">
		
		{% if error is defined and error is not null %}
	        <div style="color:red">{{ error }}</div>
	    {% endif %}
		
		<form action="{{ path('_recover_password') }}" method="post" class="form form-horizontal">
			<div class="control-group">
				<label class="control-label" for="_username">
					 Nom d'utilisateur <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						 <input type="text" id="_username" name="username" value="{{ app.request.get('username') }}" placeholder="Nom d'utilisateur" style="width:180px"/>
					 </div>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn-admin">Rappeler par email</button>	
				</div>
			</div>
			
			<div style="clear:both"> </div>
			<br/><br/>
			
		</form>
	</div>
	</div>
{% endblock %}