{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
 {% extends 'Lotofootv2Bundle::layout_login.html.twig' %}

{% block title %}
	Connexion au Lotofoot !
{% endblock %}

{% block body %}
	<div class="login-box">
		<div class="login-top">
		</div>
		<div class="login-bottom">
		
		<form action="{{ path('_register_post') }}" method="post" class="form form-horizontal">
			<div class="control-group">
				<label class="control-label" for="_username">
					 Nom d'utilisateur <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						 <input type="text" id="_username" name="_username" value="" placeholder="Nom d'utilisateur"/>
					 </div>
				</div>
			
				<label class="control-label" for="_username">
					 Mot de passe <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						 <input type="password" id="_password" name="_password"/>
					 </div>
				</div>
			
				<label class="control-label" for="_username">
					 Mot de passe (vérification) <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						 <input type="password" id="_password" name="_password"/>
					 </div>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn-admin" value="Créer login">Créer son identifiant LotoFoot</button>	
				</div>
			</div>
			
		</form>
	</div>
{% endblock %}