{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block title %}
	Inscription au Lotofoot v2 !
{% endblock %}

{% block body %}
	<div style="padding-top:100px;margin:auto;width:550px" class="well">
		
		<form action="{{ path('_register_post') }}" method="post" class="form form-horizontal">
			<div class="control-group">
				<label class="control-label" for="_username">
					 Nom d'utilisateur <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">
							<i class="icon-user"></i>
						</span>
						 <input type="text" id="_username" name="_username" value="" placeholder="Nom d'utilisateur"/>
					 </div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="_username">
					 Mot de passe <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">
							<i class="icon-lock"></i>
						</span>
						 <input type="password" id="_password" name="_password"/>
					 </div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="_username">
					 Mot de passe (vérification) <span style="color:red"> * </span> 
				</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">
							<i class="icon-lock"></i>
						</span>
						 <input type="password" id="_password" name="_password"/>
					 </div>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn" value="">Créer</button>	
				</div>
			</div>
			
		</form>
	</div>
{% endblock %}