{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Stats Équipes 
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	<div class="title-body">
		A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
	</div>
{% endblock %}

{% block body %}
	<div class="bloc-letters">
		<div class="bloc-letter-a">
			<div class="title-letter">A</div>
			fgdfgdfgdfgdg
		</div>
		<div class="title-letter">B</div>
		<div class="title-letter">C</div>
		<div class="title-letter">D</div>
		<div class="title-letter">E</div>
		<div class="title-letter">F</div>
		<div class="title-letter">G</div>
		<div class="title-letter">H</div>
		<div class="title-letter">I</div>
		<div class="title-letter">J</div>
		<div class="title-letter">K</div>
		<div class="title-letter">L</div>
		<div class="title-letter">M</div>
		<div class="title-letter">N</div>
		<div class="title-letter">O</div>
		<div class="title-letter">P</div>
		<div class="title-letter">Q</div>
		<div class="title-letter">R</div>
		<div class="title-letter">S</div>
		<div class="title-letter">T</div>
		<div class="title-letter">U</div>
		<div class="title-letter">V</div>
		<div class="title-letter">W</div>
		<div class="title-letter">X</div>
		<div class="title-letter">Y</div>
		<div class="title-letter">Z</div>
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
