{% set bg_cl = true %}

{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Cadeaux Champion's League 2014-2015 &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-prizes.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
	<strong>ATTENTION : </strong>
	<ul>
		<li>Les cadeaux cités ci-dessous sont accessibles uniquement si vous avez participé à la cagnoute. </li>
		<li>Pour rappel, c'est 10€ par participant pour pouvoir convoiter le gros lot. </li>
	</ul><br/><br/>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">Gagnant de la Champion's League</div><br/>
				Un Chèque cadeau d'une valeur de 50€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/><br/><br/>
	</div>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">Finaliste de la Champion's League</div><br/>
				Un Chèque cadeau d'une valeur de 20€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/><br/><br/>
	</div>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">Demi-Finalistes de la Champion's League</div><br/>
				Un Chèque cadeau d'une valeur de 10€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/><br/><br/>
	</div>	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
