{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">
				ADMINISTRATION
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}
<div class="row">
		<div class="container container-home">
		<header class="menu-header">
				<nav class="menu-item-admin">
					{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('_admin_users') }}" title="Administrer les utilisateurs">Admin utilisateurs</a>					
					<a href="{{ path('_admin_cup') }}" title="Administrer World Cup">Admin World Cup</a>
					<a href="{{ path('_admin_news') }}" title="Administrer les news">Poster une News</a>	
					{% endif %}
				</nav>

			</header>
	</div>
	</div>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}