{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
		<div class="title-body">
			<div class="ligne-body-left">&nbsp;</div>
			Admin Saison			
			<div class="ligne-body-right">&nbsp;</div>
		</div>
{% endblock %}

{% block body %}
	<div class="stop-float"></div>
	
	{% if league is null %}
		<b>Aucune saison trouvée !</b>
		
		{% include 'Lotofootv2Bundle:Admin/_chunks_league:create.html.twig' %}
		
		{% else %}
		
		{% include 'Lotofootv2Bundle:Admin/_chunks_league:display.html.twig' %}
		
	{% endif %}	
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}