{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Admin Journée Championnat			&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/picto-winner-league.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}

{% block body %}
	<div class="stop-float"></div>

	{% if leagueDay is not defined or leagueDay is null %}
		
		{% include 'Lotofootv2Bundle:Admin/_chunks_league_day:new.html.twig' %}
		
	{% else %}
		
		{% include 'Lotofootv2Bundle:Admin/_chunks_league_day:mark.html.twig' %}
	
	{% endif %}
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}