{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Création d'une Cup
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}

{% block body %}
	<div class="stop-float"></div>
	
	<form class="form form-horizontal" action="{{ path('_admin_cup_create') }}" method="post">
    
	    <div class="control-group">
	        <label class="control-label" for="_name">
	             Nom de la cup <span style="color:red"> * </span> 
	        </label>
	        <div class="controls">
	             <input type="text" id="_name" name="name" value=""/>
	        </div>
	    </div>
	    
	    <div class="control-group">
	        <div class="controls">
	             <input type="submit" value="Créer"/>
	        </div>
	    </div>
	</form>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}